@using Ballazza.Models
@model Ballazza.Models.ForgotPasswordViewModel

@{
    Layout = null;
}

@Styles.Render("~/Content/css")
@Styles.Render("~/Content/ForgotPassword.css")
@Styles.Render("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
@Styles.Render("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap")
@Scripts.Render("~/bundles/jquery")

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal confirmation-section", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4 class="confirmation-warning">Enter your email for reseting the password.</h4>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-xs-10 col-xs-offset-1 col-lg-offset-2 col-lg-8 email-input">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "email"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default col-xs-6 col-xs-offset-3 col-md-offset-2 col-lg-offset-1 col-lg-7 link-button" value="Email Link" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
}
