@{
    ViewBag.Title = "Forgot Password Confirmation";
}

@{
    Layout = null;
}

@Styles.Render("~/Content/css")
@Styles.Render("~/Content/ForgotPassword.css")
@Styles.Render("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
@Styles.Render("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap")
@Scripts.Render("~/bundles/jquery")

<div class="confirmation-section">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
    <a href="/Account/Login" class="btn btn-default col-xs-6 col-xs-offset-3 col-md-offset-3 col-lg-offset-2 col-lg-8  redirect-button">back to login</a>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
}