@using Ballazza.Models
@model LoginViewModel
@{
    ViewBag.Title = "Welcome back";
    Layout = null;
}
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/Login.css")
@Styles.Render("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
@Styles.Render("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap")
@Scripts.Render("~/bundles/jquery")

<div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4 login-form">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h2 class="login-title">@ViewBag.Title.</h2>
                <h4 class="login-subtitle">Stay tuned to get the latest workshops information.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "alert alert-danger"})
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-1 col-md-offset-1 control-label" })
                    <div class="col-xs-offset-3 col-md-7 col-md-offset-2">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-1 col-md-offset-1 control-label" })
                    <div class="col-xs-offset-3 col-md-7 col-md-offset-2">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-4">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-md-8 col-md-offset-2">
                        <input type="submit" value="Log in" class="btn btn-default login-button" />
                    </div>
                </div>
                <p>
                    <strong class="register-message">Not a member?</strong>@Html.ActionLink("Join now", "Register")
                </p>
            }
        </section>
        <section id="socialLoginForm" class= "col-md-8 col-md-offset-2">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
}