@using Ballazza.Models
@model LoginViewModel
@{
    Layout = null;
}

@Styles.Render("~/Content/css")
@Styles.Render("/Content/RegistrationConfirmation.css")
@Styles.Render("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
@Styles.Render("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap")
@Scripts.Render("~/bundles/jquery")

<div class="confirmation-section">
    <p class="confirmation-message">
        Thank you for registering. An account confirmation email has been sent to your email account.
    </p>
    <a href="/Account/Login" class="btn btn-primary login-button">Click here to Log in</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
}