@{
    ViewBag.Title = "Reset password confirmation";
}

@{
    Layout = null;
}

@Styles.Render("~/Content/css")
@Styles.Render("~/Content/ResetPassword.css")
@Styles.Render("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
@Styles.Render("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap")
@Scripts.Render("~/bundles/jquery")

<div class="reset-form">
    <div>
        <p class="reset-title">
            Your password has been reset. Please go back to the main menu
        </p>
        <a href="/Account/Login" class="login-button">back to login</a>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
}