@model IEnumerable<Ballazza.Models.Workshop>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@Styles.Render("~/Content/Camps.css")

<div id="content-wrapper">
    <button class="create-button">
        create item
    </button>
    <table id="workshop-table" class="ui celled table" style="width:100%">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Venue
                </th>
                <th>
                    Age Group
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    End Date
                </th>
                <th>
                    Quota
                </th>
                <th>
                    Action
                </th>

            </tr>
        </thead>
    </table>
</div>

@Styles.Render("//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css")
@Scripts.Render("//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js")
@Scripts.Render("https://cdn.datatables.net/1.10.21/js/dataTables.semanticui.min.js")
@Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js")
@Scripts.Render("~/Scripts/adminWorkshops.js")

